{% extends "ClonFlixApp/base.html" %}
{% load static %}

{% block content %}
<section class="py-8 px-4">
    <h2 class="text-3xl font-bold mb-4">Series</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for serie in series %}
            <div class="film-card">
                <a href="{% url 'detalle_serie' serie.id %}">
                    <div class="h-64 bg-cover bg-center"
                         style="background-image: url('{% if serie.image_cover %}{{ serie.image_cover.url }}{% else %}{% static 'path/to/default_image.jpg' %}{% endif %}');">
                        <h3 class="movie-title-overlay">{{ serie.titulo }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
