
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel de Administración ClonFlix{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido al Panel de Administración de ClonFlix</h1>
        <nav>
            <ul>
                <li><a href="{% url 'panel_admin' %}">Inicio del Panel</a></li>
                <li><a href="{% url 'gestion_usuarios' %}">Gestión de Usuarios</a></li>
                <li><a href="{% url 'gestion_contenido' %}">Gestión de Contenido</a></li>
                <li><a href="{% url 'moderacion_comentarios' %}">Moderación de Comentarios</a></li>
                <li><a href="{% url 'ver_estadisticas' %}">Ver Estadísticas</a></li>

                <!-- Formulario de Cierre de Sesión -->
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; color:blue; cursor:pointer; text-decoration:underline;">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>ClonFlix - Panel de Administración</p>
    </footer>
</body>
</html>

