{% extends "MiFlixApp/base.html" %}
{% block content %}
<section class="py-8 px-4 mt-32">
    <h1 class="text-4xl font-bold text-center mb-8 text-red-500">Eliminar Usuario</h1>
    <div class="bg-gray-800 p-6 rounded-lg text-center max-w-lg mx-auto">
        <p class="text-lg mb-4">
            ¿Estás seguro de que deseas eliminar al usuario
            <span class="text-pink-500 font-bold text-3xl">{{ usuario.username }}</span>
            <span class="text-pink-500 text-4xl font-bold">?</span>
        </p>
        <form method="post" action="{% url 'usuarios:eliminar_usuario' usuario.id %}">
            {% csrf_token %}
            <div class="flex justify-center gap-4">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Eliminar Usuario
                </button>
                <a href="{% url 'usuarios:gestion_usuarios' %}"
                   class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
